<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static '/img/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Alef Transformation Utility, JSON to XML structure" />
    <title>Alef Transformation Utility</title>
    <script defer="defer" src="{% static '/js/main.efe4e2db.js' %}"></script>

    <link href="{% static '/css/main.20b8cccd.css' %}" rel="stylesheet" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
